*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.scene{
    height: 100vh;
    width: 100vw;
    background-image: url("https://t3.ftcdn.net/jpg/05/82/70/60/360_F_582706092_Zd1tp07MyN865NwO3mOtvrAkD9CAvjp8.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: 0 0;
    animation: animate 15s linear infinite;
    position: relative;

}
.character{
    position: absolute;
    top: 250px;
}
@keyframes animate{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 0;
    }
}